@use "fonts";

$primary-color: #599eae;
$secondary-color: #3b6f7b;
$accent-color: #ba3b0a;
$body-text-color: #333;

$heading-color: #023f26;

$space-blue-1: #599eae;
$space-blue-2: #3b6f7b;

$nav-bg-color: #599eae;

$surface-beige: #f7f5ed;

$heading-font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial,
  "Trebuchet MS", sans-serif;
$body-font-family: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;

$base-font-size: 18px;
$base-font-weight: 400;
