.card {
  padding: 40px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-in-out;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

@media screen and (min-width: 768px) {
  .card {
    margin: 0;
    padding: 20px;
  }
}
